.assurance_container{
    width: 100%;
    background-color: #f4fbff;
}
.assurance_container_header{
    margin: 4rem auto 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
    padding: 2rem 0 1rem;
}
.assurance_container_body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.assurance_container_card{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem;
}
.assurance_container_card_img img{
    width: 75px;
    height: 50px;
}
.assurance_container_card_header{
    font-weight: 600;
    font-size:0.9rem;
    color: #4c6069;
    margin: 0.5rem 0;
    text-align: center;
}
.assurance_container_card_desc{
    font-weight: 500;
    font-size:0.9rem;
    color: #4c6069;
    margin: 0 0 0.5rem;
    text-align:center;
    padding: 0 2rem;
}

@media (max-width:568px) {
    .assurance_container_body{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
}